modal-detalhes-jogo{
  .title{font-weight: bold;font-size: 16px;text-align: center;color:#f1af67}
  .red{color:red}
  .yellow{color:yellow}
  .bold{font-weight: bold;}
  .margin-auto{margin: 0 auto;}
}
