<ion-header>
  <ion-toolbar>
    <ion-title>
      DETALHES
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<<ion-content>
  <ion-list>
    <ion-item color="darkmediumgray">
      <ion-avatar item-start>
        <img src="{{'http://www.goldeplacama.com.br/images/logo/'+equipe.equipe+'.bmp'}}" />
      </ion-avatar>
      <h2>{{equipe.equipe}}</h2>
      <p>{{equipe.categoria}}</p>
    </ion-item>

    <ion-item>
      Gols Sofridos
      <ion-note style="color:black;" item-end>
        {{equipe.GC}}
      </ion-note>
    </ion-item>

    <ion-item>
      <img src="http://www.goldeplacama.com.br/images/logo/fotos/{{equipe.id}}.jpg" />
    </ion-item>

  </ion-list>
</ion-content>
