<ion-header>
  <ion-toolbar>
    <ion-title>
      {{notification.title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content margin-horizontal>
    <p>{{notification.body}}</p>
    <p>{{notification.created_at | date}}</p>
</ion-content>

