<ion-header>
  <ion-toolbar>
    <ion-title>
      NOTIFICAÇÕES
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider color="light">Não lidas</ion-item-divider>
    <ion-item style="color:#000000;font-weight:bold;" *ngFor="let n of notifications | readedfilter:notread"  (click)="viewNotification(n)">
        {{n.title}}
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Lidas</ion-item-divider>
    <ion-item style="color:#808080;" *ngFor="let n of notifications | readedfilter:read" (click)="viewNotification(n)">
        {{n.title}}
    </ion-item>
  </ion-item-group>
</ion-content>

