<ion-header>
  <ion-toolbar>
    <ion-title>
      JOGOS ADIADOS
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogos" >
  <ion-grid *ngFor="let j of jogos" style="border-bottom:2px solid #022607">
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Data / Dia / Hora
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.data_jogo}} - {{j.attr.dia}} - {{j.attr.hora}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        NJ
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.njg}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Local
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.campo}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Categoria
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.categoria}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Equipes
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.equipe1}}<img src="http://www.goldeplacama.com.br/images/logo/reports/{{j.attr.equipe1}}.jpg" /> {{j.attr.placar1}} X {{j.attr.placar2}} <img src="http://www.goldeplacama.com.br/images/logo/reports/{{j.attr.equipe2}}.jpg" />{{j.attr.equipe2}}
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Fase
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.fase}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight:bold;" col-4>
        Rodada
      </ion-col>
      <ion-col text-center col-8>
        {{j.attr.rodada}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
