<ion-header>
  <ion-toolbar>
    <ion-title>
      PAUTA JULGAMENTO
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogadores">
  <ion-list>
    <ion-item text-center style="font-weight:bold;font-size:14px;">{{competicao}}</ion-item>
    <ion-item text-center style="font-weight:bold;font-size:14px;">Data: {{data_analise}}</ion-item>
    <ion-item text-center style="font-weight:bold;font-size:14px;">Horário: {{horario}}</ion-item>
  </ion-list>
  <ion-grid *ngFor="let j of jogadores, let i = index">
  <ion-row>
    <ion-col text-center col-12 style="font-weight:bold;">{{j.nome_jogador}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Data</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.data}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Jogo</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.jogo}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Equipe</ion-col>
    <ion-col col-8 style="text-align:center;line-height:1.5px;"><img style="width:7vw;height:4vh;margin:2px;" src="http://goldeplacama.com.br/images/logo/{{j.equipe}}.bmp" />{{j.equipe}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Categoria</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.categoria}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Ocorrência</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.ocorrencia}}</ion-col>
  </ion-row>

</ion-grid>

</ion-content>
