<ion-header>
  <ion-toolbar>
    <ion-title>
      JOGADORES SUSPENSOS
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogadores">

  <ion-grid *ngFor="let j of jogadores, let i = index">
  <ion-row>
    <ion-col text-center col-12 style="font-weight:bold;"><a (click)="openJogadorDetalhes(j.attr.nome_jogador, j.attr.categoria, j.attr.id_competicao)" href="#">{{j.attr.nome_jogador}}</a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Equipe</ion-col>
    <ion-col col-8 style="text-align:center;"><img style="width:7vw;height:4vh;margin:2px;" src="http://goldeplacama.com.br/images/logo/{{j.attr.time}}.bmp" />{{j.attr.time}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Categoria</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.categoria}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;"><img style="width:100%;max-width:1.0em;height:100%;max-heigth:1.5em;" src="http://www.goldeplacama.com.br/images/cartao_v.png"> Vermelho</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.vermelho}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;"><img style="width:100%;max-width:1.0em;height:100%;max-heigth:1.5em;" src="http://www.goldeplacama.com.br/images/cartao_a.png"> Amarelo</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.amarelo}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Jogos à cumprir</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.jogos_cumprir}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Data dos jogos</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.data_cumprir}}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
