<ion-header>
  <ion-toolbar>
    <ion-title>
      MEMBRO 2 INSTÂNCIA
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogadores">

  <ion-grid *ngFor="let j of jogadores, let i = index">
  <ion-row>
    <ion-col text-center col-12 style="font-weight:bold;">{{j.nome}}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
