<ion-header>
  <ion-toolbar>
    <ion-title>
      ATESTADO ENTREGUE
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogadores">

  <ion-grid *ngFor="let j of jogadores, let i = index">
  <ion-row>
    <ion-col text-center col-12 style="font-weight:bold;">{{j.attr.nome_jogador}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Equipe</ion-col>
    <ion-col col-8 style="text-align:center;"><img style="width:7vw;height:4vh;margin:2px;" src="http://goldeplacama.com.br/images/logo/{{j.attr.time}}.bmp" />{{j.attr.time}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Categoria</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.categoria}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="font-weight:bold;">Data Entrega</ion-col>
    <ion-col col-8 style="text-align:center;">{{j.attr.dtatestado}}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
