page-page1 {

  ion-icon{
    padding-left: 5px;
  }
  ion-col{
    font-size: 10px;
  }
  ion-item{
    border-bottom: 1px solid #aaa8aa !important;
  }
  ion-scroll{
    white-space: nowrap;
    height: 50px;
    text-align: center;
  }
  .bold{font-weight: bold;}
  .text-right{text-align: right;}
  .text-left{text-align: left;}
  .text-center{text-align: center;}
  .header{background-color: #dad8da;color:#FFF;text-align: center;text-transform: uppercase;}
  .text-upper{text-transform: uppercase;}
  .img-logo{width:100%;height: 20%;margin-bottom: 5px;}
  .img-logo-equipe{width:16px;height: 16px;display: inline;margin:2px;}
  .font-10{font-size: 10px;}
  .slide-label{
    font-size: 12px;
    color: #aaa8aa;
    opacity: 0.8;
    margin:0.5em 0.5em 0 0.5em;
    padding:0.5em 0.5em 0 0.5em;
  }
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible !important;
  }
  #notifications-badge {
      background-color: red;
      position: absolute;
      top: -3px;
      right: -2px;
      border-radius: 50%;
  }
}
