page-competicao {
  h1{
    color:#FFF !important;
    text-align: center;
  }
  .slider {
    width: 100%;
    height: 350px; /* slider height you want */
  }
  .slider-slide {
   color: #000;
   background-color: #686668;
   height: 350px !important;
   width: 100vw !important;
  }
  .slider-slide img{
    height: 350px !important;
    width: 100vw !important;
  }
  ion-content{background-color: #686668 !important}

  img.banner{max-height: 100%;}
  #page-element{
    width: 100%;
  }
  .menu_competition{
      width: 48%;
      float:left;
  }
  img.logo{
    display:block;
  width:14vw !important;
  margin: auto;
  height:8vh !important;
  overflow:hidden;
  background-color:#fff;
  border-radius: 50%;
  }
  .menu_competition h4{
    padding-top: 1em;
    text-align: center;
    color:#FFFFFF;
    font-weight: bold;
    width:100%;
  }
}
