<ion-header>
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Últimas Notícias</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="cards-bguse sanitize">
  <ion-list [virtualScroll]="posts" approxItemHeight="50px">
    <ion-item *virtualItem="let post" no-lines>
        <ion-card class="card-post">
          <ion-card-content>
            <ion-card-title style="white-space: nowrap;font-size:16px;overflow: hidden;text-overflow: ellipsis;color:#CC0000">
              {{post.attr.titulo}}
            </ion-card-title>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" [innerHtml]='post.attr.chamada'>
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" (click)="openNoticia(post)" icon-left>
                <ion-icon name="expand"></ion-icon>
                Leia mais...
              </button>
            </ion-col>
            <ion-col text-center>
               <ion-note style="color:#000;">
                 {{post.attr.data | date: 'd/M/yyyy'}}
               </ion-note>
             </ion-col>
          </ion-row>
        </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
