<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Gol de Placa MA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button ion-item menuClose (click)="goHome()">Início</button>
      <button ion-item menuClose (click)="goNoticias()">Notícias</button>
      <ion-item>
        <ion-label floating>Classificação</ion-label>
        <ion-select menuClose okText="Ok" cancelText="Sair" [(ngModel)]="categoriaSelectedClass" (ngModelChange)="resultado()">
          <ion-option *ngFor="let cat of categoriaList" value="{{cat.attr.categoria}}">{{cat.attr.categoria}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Tabela de Jogos</ion-label>
        <ion-select menuClose okText="Ok" cancelText="Sair" [(ngModel)]="categoriaSelectedJg" (ngModelChange)="tblJogos()">
          <ion-option *ngFor="let cat of categoriaList" value="{{cat.attr.categoria}}">{{cat.attr.categoria}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item menuClose (click)="getJogosAdiados()">Jogos Adiados</button>
      <button ion-item menuClose (click)="getJogosWo()">Jogos Wo</button>
      <button ion-item menuClose (click)="openSimplePage('jdgs')">Jogadores Suspensos</button>
      <button ion-item menuClose (click)="openSimplePage('jgdp')">Jogadores Pendurados</button>
      <button ion-item menuClose (click)="openSimplePage('blnr')">Balançou a Rede</button>
      <button ion-item menuClose (click)="openSimplePage('mem1')">Membro 1 Instância</button>
      <button ion-item menuClose (click)="openSimplePage('mem2')">Membro 2 Instância</button>
      <button ion-item menuClose (click)="openSimplePage('ptaj')">Pauta de Julgamento</button>
      <button ion-item menuClose (click)="openSimplePage('atsp')">Atestado Pendente</button>
      <button ion-item menuClose (click)="openSimplePage('atse')">Atestado Entregue</button>
      <button ion-item menuClose (click)="openSimplePage('bday')">Aniversariantes</button>
      <button ion-item menuClose (click)="changeCompetitions()">Configuração</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
