<ion-header>
  <ion-toolbar>
    <ion-title>
      CARTEIRA GOLEIRO
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg" *ngIf="goleiro">
  <ion-item>
    <div class="avatar perfil" item-start>
      <img src="http://www.goldeplacama.com.br/{{goleiro.attr.img_perfil === '' ? 'images/sem-imagem-avatar.png':'/images/jogadores/perfil/'+goleiro.attr.img_perfil}}">
    </div>
    <div class="avatar" item-end>
      <img src="http://www.goldeplacama.com.br/{{goleiro.rel.idCompeticao.foto === '' ? 'images/sem-foto.jpg':goleiro.rel.idCompeticao.foto}}">
    </div>
    <div class="avatar" item-end>
      <img src="http://www.goldeplacama.com.br/{{goleiro.rel.idCompeticao.img_empresa === '' ? 'images/sem-foto.jpg':goleiro.rel.idCompeticao.img_empresa}}">
    </div>
  </ion-item>

  <ion-card-content>
    <p text-center class="goleiro">GOLEIRO</p>
    <h2 *ngIf="goleiro">{{goleiro.attr.nome_jogador}}</h2>
    <p *ngIf="goleiro">{{goleiro.attr.time}}</p>
    <p *ngIf="goleiro">{{goleiro.attr.categoria}}</p>
    <p *ngIf="competicao">{{goleiro.rel.idCompeticao.nome_competicao}}</p>
    <p  *ngIf="validade">{{validade}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
        <div>Filon Monteiro</div>
    </ion-col>
    <ion-col>
        <div>Thiago Rodrigues</div>
    </ion-col>
  </ion-row>

</ion-card>
</ion-content>
