page-resultado {
  ion-list{
    width: 100%;
    height: 3.5em;
  }
  ion-slides{
    height: initial;
    max-height: 100%;
  }
  .equipeimg{
    border-radius: 50%;
    float:right;
    width: 10%;
    height: 10%;
    width: 2.5em;
    height: 2.5em;
  }
  .perfil{
    border-radius: 50%;
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
  }
  .titulo{
    text-align: center;
    text-transform: uppercase;
    background-color: #454345;
    color: #fff;
  }
}
